_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
Gemfile.lock

.bundle/
vendor/

resources/_gen
public/
.hugo_build.lock

*.xcf
node_modules/
cloudformation.yaml

tf.plan
*.backup
.terraform/
.idea/
backup/

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
